# STM32F103RCT6 Laz Core Board configuration

# Copyright (c) 2020 WuhanStudio
# SPDX-License-Identifier: Apache-2.0

# http://www.keyboard-layout-editor.com/#/
# Layout is Keycool_84

config BOARD_LAZ_84_KEYBOARD
	bool "Laz 84 Keyboard"
	depends on SOC_STM32F103X8
